.scene{
    position: absolute;
    width: 100%;
    height: 100%;
    background: linear-gradient(#111425, #3751e0);
    background-attachment: fixed;
    overflow: hidden;
    top: 0;
}
.scene i{
    position: absolute;
    background: #fff;
    border-radius: 50%;
    animation: animate linear infinite;
}
@keyframes animate{
    0%{
        opacity: 0;
        transform: translateY(0);
    }
    10%,90%{
        opacity: 1;
    }
    100%{
        opacity: 0;
        transform: translateY(-100px);
    }
}

.moon{
    position: absolute;
    top: 100px;
    left: 400px;
    width: 100px;
    height: 100px;
    background: #fff;
    border-radius: 50%;
    z-index: 1000;
}
.moon:after{
    content: '';
    position: absolute;
    top: -15px;
    left: 15px;
    width: 100%;
    height: 100%;
    border-radius: 50%;
    background: linear-gradient(#111425, #3751e0);
    background-attachment: fixed;
}

.forest{
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    z-index: 1000;
    transform: scale(1.2);
}

.text{
    color: #fff;
    position: relative;
    top: 10em;
    left: 50em;
}
.text h2{
    position: relative;
    font-size: 8em;
}
.text a{
    position: absolute;
    background-color: #fff;
    color: #111425;
    text-decoration: none;
    padding: .5rem;
    border-radius: 10px;
}