@import url('https://fonts.googleapis.com/css2?family=Prompt:wght@500&display=swap');

*
{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Prompt', sans-serif;
}

section
{
padding: 100px;
}

.banner{
    position: relative;
    min-height: 100vh;
    background: url(../../src/images/pt-home-01.jpg);
    background-size: cover;
    background-position: right;
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.banner h2{
    font-size: 2em;
    color: #fff;
    font-weight: 400;
    line-height: 1.5em;
    padding-bottom: 1em;
}
.banner h2 span{
    font-size: 3em;
    font-weight: 700;
}
.banner h3
{
    font-size: 1.5em;
    color: #fff;
    font-weight: 500;
}

header{
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    padding: 0 90px;
    z-index: 1000;
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: #fff;
}
header .logo{
    width: 7em;
}
header ul{
    position: relative;
    display: flex;
}
header ul li{
    position: relative;
    list-style: none;
}
header ul li a{
    position: relative;
    display: inline-block;
    margin: 0 15px;
    color: #121421;
    text-decoration: none;
}