@import url('https://fonts.googleapis.com/css2?family=Prompt:wght@500&display=swap');

*
{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Prompt', sans-serif;
}

body{
    padding-top: 120px;;
}

section
{
    padding-left: 150px;
    padding-right: 150px;
}

p
{
    font-size: 18px;
}

.heading{
    width: 100%;
    margin-bottom: 30px;
    color: red;
    text-transform: uppercase;
}
.heading h2{
    font-weight: 600;
    font-size: 30px;
}

.banner{
    position: relative;
    min-height: 100vh;
    background: url(../../src/images/pedal-tour-11-2020-0497.jpg);
    background-size: cover;
    background-position: right;
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-top: -150px;
}
.banner .textBx{
    /* width: 100%; */
    padding-top: 15em;
}
.banner h2{
    font-size: 2em;
    color: #fff;
    font-weight: 400;
    line-height: 1.5em;
    padding-bottom: 1em;
}
.banner h2 span{
    font-size: 3em;
    font-weight: 700;
}
.banner h3
{
    font-size: 1.5em;
    color: #fff;
    /* -webkit-text-stroke: 1px #121421; */
    font-weight: 500;
}
.banner h3 span{
    margin-left: 1em;
    margin-right: 1em;
}

.banner h3 svg{
    font-size: 0.5em;
    margin-bottom: 3px;
}

header{
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    padding: 10px 90px;
    z-index: 1000;
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: #fff;
    transition: 0.4s;
}
header.sticky{
    background-color: #121421;
    padding: 0px 80px;
    box-shadow: 0 5px 20px rgba(0, 0, 0, 0.5);
}

header.sticky ul li a{
    color: #fff;
}

header .logo{
    width: 7em;
    margin-top: -15px;
    margin-bottom: -20px;
}
header ul{
    position: relative;
    display: flex;
}
header ul li{
    position: relative;
    list-style: none;
}
header ul li a{
    position: relative;
    display: inline-block;
    margin: 0 15px;
    color: #121421;
    text-decoration: none;
}

.heading{
    width: 100%;
    margin-bottom: 30px;
    color: red;
    text-transform: uppercase;
}