@import url('https://fonts.googleapis.com/css2?family=Prompt:wght@500&display=swap');

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Prompt', sans-serif;
}

section
{
    padding-left: 200px;
    padding-right: 200px;
    padding-top: 2.5rem;
}

video{
    max-width: 100%;
}

h1{
    color: #e72a2a;
    margin-top: 1rem;
    margin-bottom: 1.5rem;
    text-transform: uppercase;
}
h2{
    color: #e72a2a;
    margin-top: 1rem;
    margin-bottom: 1rem;
}
h3, h4, h5{
    color: #e72a2a;
}

img{
    max-width: 100%;
}

/* HEADER */
nav{
    background: #fff !important;
    box-shadow: 0 5px 20px rgba(0, 0, 0, 0.1);
}

nav.sticky{
    background: #121421 !important;
    box-shadow: 0 5px 20px rgba(0, 0, 0, 0.5);
}
nav.sticky li a, nav.sticky svg{
    color:  #fff !important;
    
}
nav .navbar-nav{
    margin-right: 0px !important;
    padding-right: 0px !important;
}
nav li a, nav svg{
    margin-left: 10px;
    color: #121421;
}
nav li a:hover{
    color: #e72a2a !important;
}
.navbar-toggler:focus{
    box-shadow: 0 0 0 0;
}

/* FOOTER */
.f-body {
    background: #212529;
}

.f-end {
    background: #222;
}
footer{
    color: #fff;
}
footer .social-media svg{
    color: #fff;
    font-size: 2rem !important;
}


/* TOAST */
.toast {
    position: fixed;
    top: 120px;
    right: 50px;
    margin: auto;
    max-width: 400px;
    padding: 1rem;
    background: #cccccc;
    color: #333333;
    font-family: sans-serif;
    text-align: center;
    border: 1px solid #aaaaaa;
    border-radius: 5px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
    opacity: 0;
    z-index: 999;
    transition: opacity 0.2s, top 0.4s, visibility 0.2s;
  }
  
  .toast--visible {
    top: 100px !important;
    opacity: 0.90 !important;
  }
  
  .toast--success {
    background: #125A12;
    border-color: #009d23;
    color: #ffffff;
  }
  
  .toast--error {
    background: #d50000;
    border-color: #ba0000;
    color: #ffffff;
  }  

/* RESPONSIVE */
/* // X-Large devices (large desktops, less than 1400px) */
@media (max-width: 1399.98px) {
    section
    {
        padding-left: 130px;
        padding-right: 130px;
    }
 }

 /* // Large devices (desktops, less than 1200px) */
@media (max-width: 1199.98px) {
    footer .social-media svg{
        font-size: 1.25rem !important;
    }
    section
    {
        padding-left: 100px;
        padding-right: 100px;
    }
 }

 /* // Medium devices (tablets, less than 992px) */
@media (max-width: 991.98px) {
    nav .navbar-nav li{
        margin-top: 20px;
        /* margin-bottom: 15px; */
    }
    .navbar-collapse{
        height: 100vh;
    }
    footer .social-media svg{
        font-size: 1rem !important;
    }
    section
    {
        padding-left: 75px;
        padding-right: 75px;
    }
}

/* // Small devices (landscape phones, less than 768px) */
@media (max-width: 767.98px) { 
    footer .social-media svg{
        font-size: 1.25rem !important;
    }
    section
    {
        /* max-height: 100vh; */
        padding-left: 50px;
        padding-right: 50px;
    }
}

 /* // X-Small devices (portrait phones, less than 576px) */
@media (max-width: 575.98px) { 
    footer .social-media svg{
        font-size: 1rem !important;
    }
    section
    {
        padding-left: 25px;
        padding-right: 25px;
    }
 }