@import url('https://fonts.googleapis.com/css2?family=Prompt:wght@500&display=swap');

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Prompt', sans-serif;
}

section
{
    padding-left: 200px;
    padding-right: 200px;
    padding-top: 2.5rem;
}

.content-body{
    margin-top: 75px;
}
h1{
    color: red;
    margin-top: 1rem;
    margin-bottom: 1.5rem;
    text-transform: uppercase;
}
h2{
    color: red;
    margin-top: 1rem;
    margin-bottom: 1rem;
}
h3, h4, h5{
    color: red;
}

img{
    max-width: 100%;
}

/* HEADER */
nav{
    background: #fff !important;
    box-shadow: 0 5px 20px rgba(0, 0, 0, 0.1);
}
nav.sticky{
    background: #121421 !important;
    box-shadow: 0 5px 20px rgba(0, 0, 0, 0.5);
}
nav.sticky li a, nav.sticky svg{
    color:  #fff !important;
    
}
nav .navbar-nav{
    margin-right: 0px !important;
    padding-right: 0px !important;
}
nav .nav-items-container{
    margin-left: 25rem;
}
nav li a, nav svg{
    margin-left: 10px;
    color: #121421;
}
nav li a:hover{
    color: red !important;
}
.navbar-toggler:focus{
    box-shadow: 0 0 0 0;
}

/* FOOTER */
.f-body {
    background: #01030f;
}

.f-end {
    background: #222;
}
footer{
    color: #fff;
}
footer .social-media svg{
    color: #fff;
    font-size: 2rem !important;
}

/* RESPONSIVE */
/* // X-Large devices (large desktops, less than 1400px) */
@media (max-width: 1399.98px) {
    nav .nav-items-container{
        margin-left: 15rem;
    }
    section
    {
        padding-left: 130px;
        padding-right: 130px;
    }
 }

 /* // Large devices (desktops, less than 1200px) */
@media (max-width: 1199.98px) {
    nav .nav-items-container{
        margin-left: 2rem;
    }
    footer .social-media svg{
        font-size: 1.25rem !important;
    }
    section
    {
        padding-left: 100px;
        padding-right: 100px;
    }
 }

 /* // Medium devices (tablets, less than 992px) */
@media (max-width: 991.98px) { 
    nav .nav-items-container{
        margin-left: 0;
    }
    nav .navbar-nav li{
        margin-top: 20px;
        margin-bottom: 20px;
    }
    footer .social-media svg{
        font-size: 1rem !important;
    }
    section
    {
        padding-left: 75px;
        padding-right: 75px;
    }
}

/* // Small devices (landscape phones, less than 768px) */
@media (max-width: 767.98px) { 
    footer .social-media svg{
        font-size: 1.25rem !important;
    }
    section
    {
        /* max-height: 100vh; */
        padding-left: 50px;
        padding-right: 50px;
    }
}

 /* // X-Small devices (portrait phones, less than 576px) */
@media (max-width: 575.98px) { 
    footer .social-media svg{
        font-size: 1rem !important;
    }
    section
    {
        padding-left: 25px;
        padding-right: 25px;
    }
 }



/* @media(max-width: 1024px){
    header,
    header.sticky{
        z-index: 1000;
        
    }
    .menu{
        position: fixed;
        top: 100px;
        left: -100%;
        display: block;
        padding: 100px 50px;
        text-align: center;
        width: 100%;
        height: 100vh;
        background: #fff;
        transition: 0.5s;
        z-index: 99999;
        border-top: 1px solid rgba(0, 0, 0, 0.2);
    }
    .menu.active{
        left: 0;
    }
    header ul li a{
        font-size: 25px;
        margin: 15px;
    }
    header.sticky ul li a{
        color: #121421;
        font-size: 25px;
        margin: 15px;
    }
    header.sticky svg{
        color: #fff;
    }
    .toggle{
        width: 40px;
        height: 40px;
        color: #121421;
        cursor: pointer;
    }
    .toggle svg{
        color: #121421;
        font-size: 1.75em;
    }
    
    section{
        padding: .75rem .5rem;
        width: 100%;
    }

    .view-div{
        width: 64rem;
    }

}

@media(max-width: 492px){
    header,
    header.sticky{
        padding: 5px 20px;
        z-index: 1000;
        
    }
    section{
        padding: 0 20px;
    }
    footer ul li{
        margin-right: 0;
        font-size: 1.25rem;
    }
    .text-gray{
        font-size: .5em;
    }
} */