@import url('https://fonts.googleapis.com/css2?family=Prompt:wght@500&display=swap');

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Prompt', sans-serif;
}

body{
    padding-top: 100px;;
}

section
{
    min-height: 100vh;
    padding-left: 200px;
    padding-right: 200px;
}

/* HEADER */
header{
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    padding: 10px 90px;
    z-index: 1000;
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: #fff;
    transition: 0.4s;
}
header.sticky{
    background-color: #121421;
    padding: 0px 80px;
    box-shadow: 0 5px 20px rgba(0, 0, 0, 0.5);
}
header.sticky ul li a{
    color: #fff;
}
header .logo{
    width: 7em;
    margin-top: -15px;
    margin-bottom: -20px;
}
header ul{
    position: relative;
    display: flex;
}
header ul li{
    position: relative;
    list-style: none;
}
header ul li a{
    position: relative;
    display: inline-block;
    margin: 0 15px;
    color: #121421;
    text-decoration: none;
}
.toggle svg{
    color: rgba(0, 0, 0, 0);
}

/* FOOTER */
footer{
    position: absolute;
    width: 100%;
    background: #121421;
    color: #fff;
    padding: 10px 90px;
    z-index: 1000;
    padding: 15px;
    text-align: center;
}
.media-items{
    display: inline-flex;
}
footer ul{
    position: relative;
    display: flex;
}
footer ul li{
    margin-right: 10px;
    position: relative;
    list-style: none;
    font-size: 2rem;
    display: inline;
}
.social-media svg{
    position: relative;
    display: inline-block;
    margin: 0 15px;
    color: #fff;
    text-decoration: none;
}
.social-media a{
    cursor: pointer;
}


/* RESPONSIVE */
@media(max-width: 1024px){
    header,
    header.sticky{
        padding: 20px 50px;
        z-index: 1000;
        
    }
    .menu{
        position: fixed;
        top: 100px;
        left: -100%;
        display: block;
        padding: 100px 50px;
        text-align: center;
        width: 100%;
        height: 100vh;
        background: #fff;
        transition: 0.5s;
        z-index: 99999;
        border-top: 1px solid rgba(0, 0, 0, 0.2);
    }
    .menu.active{
        left: 0;
    }
    header ul li a{
        font-size: 25px;
        margin: 15px;
    }
    header.sticky ul li a{
        color: #121421;
        font-size: 25px;
        margin: 15px;
    }
    header.sticky svg{
        color: #fff;
    }
    .toggle{
        width: 40px;
        height: 40px;
        color: #121421;
        cursor: pointer;
    }
    .toggle svg{
        color: #121421;
        font-size: 1.75em;
    }
    
    section{
        padding: 100px 50px;
    }
}

@media(max-width: 492px){
    header,
    header.sticky{
        padding: 5px 20px;
        z-index: 1000;
        
    }
    section{
        padding: 0 20px;
    }
    footer ul li{
        margin-right: 0;
        font-size: 1.25rem;
    }
    .text-gray{
        font-size: .5em;
    }
}