<link rel="stylesheet" href="app/css/ayuda.css">


<div class="heading">
    <h1 class="lang-es">Ayuda</h1>
    <h1 class="lang-en">Help</h1>
</div>

<section>
    <h2 class="lang-es">Preguntas Frecuentes</h2>
    <h2 class="lang-en">FAQ</h2>
    <div class="faq-container">
        <!-- <p>¿Cómo protege Google mi privacidad y mantiene mi información segura?</p>
        <span>Sabemos que para usted la seguridad y la privacidad son importantes —para nosotros también lo son—. La seguridad de su información y la garantía de que podrá acceder a ella cuando lo necesite son nuestras prioridades.</span> -->
        <div class="accordion">
            <div class="accordion-item">
                <a class="accordion-link lang-es">¿QUÉ ES UN VAGON A PEDALES DE PEDAL TOUR?</a>
                <a class="accordion-link lang-en">WHAT IS A PEDAL TOUR PEDAL WAGON?</a>
                <div class="answer lang-es">
                    <P>
                        Nuestro vagón a pedales es una celebración rodante para varios pasajeros que lo llevará a los
                        mejores destinos turísticos y las mejores paradas de degustación.
                    </P>
                    <P>
                        Podrás elegir una experiencia diferente y que recordarás como uno de tus mejores momentos en
                        familia, con amigos, compañeros de trabajo y por qué no, donde podrás hacer nuevas amistades con
                        los que descubrirás los secretos de nuestra cultura y los establecimientos favoritos para
                        celebrar.
                    </P>
                </div>
                <div class="answer lang-en">
                    <P>
                        Our pedal car is a rolling celebration for multiple passengers that will take you to the best
                        tourist destinations and the best tasting stops.
                    </P>
                    <P>
                        You will be able to choose a different experience that you will remember as one of your best
                        moments with your family, with friends, co-workers and why not, where you will be able to make
                        new friends with whom you will discover the secrets of our culture and the favorite
                        establishments to celebrate.
                    </P>
                </div>
            </div>

            <div class="accordion-item">
                <a class="accordion-link lang-es">¿DONDE PUEDO CONSULTAR LAS PROMOCIONES?</a>
                <a class="accordion-link lang-en">WHERE CAN I SEE THE PROMOTIONS?</a>
                <div class="answer lang-es">
                    <P>
                        Anunciamos nuestras promociones en cada una de nuestras páginas de redes sociales. ¡Así que
                        asegúrate de seguirnos en Facebook, Instagram, tik tok y youtube!
                    </P>
                </div>
                <div class="answer lang-en">
                    <P>
                        We advertise our promotions on each of our social media pages. So be sure to follow us on
                        Facebook, Instagram, tik tok, and youtube!
                    </P>
                </div>
            </div>

            <div class="accordion-item">
                <a class="accordion-link lang-es">¿CUÁNDO DEBO RESERVAR MI PASEO?</a>
                <a class="accordion-link lang-en">WHEN SHOULD I BOOK MY RIDE?</a>
                <div class="answer lang-es">
                    <P>
                        Recomendamos realizar la reserva con un mes o una semana de anticipación, especialmente si
                        planea viajar en las temporadas altas de turismo (febrero, abril, julio y noviembre)
                    </P>
                    <p>
                        Toda nuestra disponibilidad de tours está siempre visible en nuestro sistema de reservas en
                        línea. También puede reservar por teléfono y aceptamos el pago completo en el momento de la
                        reserva para mantener las fechas separadas.
                    </p>
                </div>
                <div class="answer lang-en">
                    <P>
                        We recommend making the reservation a month or a week in advance, especially if you plan to
                        travel in the high tourist seasons (February, April, July and November)
                    </P>
                    <p>
                        All our tour availability is always visible in our online reservation system. You can also book
                        by phone and we accept full payment at the time of booking to keep dates separate.
                    </p>
                </div>
            </div>

            <div class="accordion-item">
                <a class="accordion-link lang-es">¿TENEMOS QUE RESERVAR TODO EL VAGÓN O SOLO UNA PARTE?</a>
                <a class="accordion-link lang-en">DO WE HAVE TO RESERVE THE WHOLE WAGON OR JUST A PART?</a>
                <div class="answer lang-es">
                    <P>
                        Tenemos paseos públicos y privados disponibles para reservar. Asegúrese de tener planeado el día
                        del paseo con tiempo para poder organizar y vender los asientos faltantes para que sea más
                        ligero el paseo.
                    </P>
                </div>
                <div class="answer lang-en">
                    <P>
                        We have public and private tours available to reserve. Make sure you have planned the day of the
                        ride in advance so you can organize and sell the missing seats to make the ride lighter.
                    </P>
                </div>
            </div>

            <div class="accordion-item">
                <a class="accordion-link lang-es">¿QUÉ PASA EL DÍA DE NUESTRO PASEO?</a>
                <a class="accordion-link lang-en">WHAT HAPPENS ON THE DAY OF OUR WALK?</a>
                <div class="answer lang-es">
                    <P>
                        Nos reuniremos en el garaje de pedal tour o en un punto específico según sea el caso y
                        registraremos a cada uno de los pasajeros, también deben llevar firmada el acta de renuncia de
                        responsabilidad brindada a la persona que realizó la reserva; por eso es recomendable que llegue
                        20 min antes de iniciado su paseo a menos que se indique lo contrario. Porte siempre su
                        documento de identidad.
                    </P>
                </div>
                <div class="answer lang-en">
                    <P>
                        We will meet in the pedal tour garage or at a specific point as the case may be and we will
                        register each of the passengers, they must also have signed the act of waiver of responsibility
                        provided to the person who made the reservation; For this reason, it is recommended that you
                        arrive 20 minutes before starting your tour unless otherwise indicated. Always carry your
                        identity document.
                    </P>
                </div>
            </div>

            <div class="accordion-item">
                <a class="accordion-link lang-es">¿ES DIFICIL PEDALEAR?</a>
                <a class="accordion-link lang-en">IS IT DIFFICULT TO PEDAL?</a>
                <div class="answer lang-es">
                    <P>
                        La mayoría de nuestros vagones funcionan exclusivamente con pedales, así que espere pedalear
                        durante su recorrido a menos que vaya sentado en nuestros asientos reservados en los que no
                        necesita pedalear.
                    </P>
                    <P>
                        Si un vagón tiene un grupo completo de pedaleadores ansiosos, entonces impulsarlo a través de la
                        potencia pura del pedal es fácil. Si un vagón tiene menos pedaleadores o un grupo que no está
                        dispuesto a pedalear, subiremos lentamente algunas de las pendientes alrededor de la ciudad.
                    </P>
                    <P>
                        ¡Lleve siempre zapatos cómodos y buena actitud!
                    </P>
                    <P>
                        Algunos de nuestros vagones tienen asistencia eléctrica para ayudar con las colinas, pero deben
                        solicitarse antes de reservar.
                    </P>
                </div>
                <div class="answer lang-en">
                    <P>
                        Most of our wagons are pedal-powered only, so expect to pedal your way unless you are seated in
                        our reserved seats where you don't need to pedal.
                    </P>
                    <P>
                        If a wagon has a full group of eager pedalboards, then propelling it through sheer pedal power
                        is easy. If a wagon has fewer pedalers or a group that is unwilling to pedal, we will slowly
                        climb some of the slopes around the city.
                    </P>
                    <P>
                        Always wear comfortable shoes and a good attitude!
                    </P>
                    <P>
                        Some of our cars have electric assistance to help with the hills, but must be requested before
                        booking.
                    </P>
                </div>
            </div>

            <div class="accordion-item">
                <a class="accordion-link lang-es">¿CUÁNTAS PERSONAS PUEDEN IR EN EL VAGÓN?</a>
                <a class="accordion-link lang-en">HOW MANY PEOPLE CAN GO IN THE WAGON?</a>
                <div class="answer lang-es">
                    <P>
                        La capacidad de nuestro vagón permite que vayan de 6 a 12 personas pedaleando y 2 personas
                        libres de pedaleo.
                    </P>
                </div>
                <div class="answer lang-en">
                    <P>
                        The capacity of our wagon allows 6 to 12 people pedaling and 2 people free pedaling.
                    </P>
                </div>
            </div>

            <div class="accordion-item">
                <a class="accordion-link lang-es">¿QUÉ DEBO LLEVAR PARA MI PASEO?</a>
                <a class="accordion-link lang-en">WHAT SHOULD I BRING FOR MY RIDE?</a>
                <div class="answer lang-es">
                    <P>
                        Tenga en cuenta de que no hay espacio de almacenamiento en nuestros vagones.
                    </P>
                    <ul>
                        <li>Cada turista debe portar siempre su identificación.</li>
                        <li>Llevar su declaración de renuncia de responsabilidad firmada</li>
                        <li>Ropa y zapatos cómodos para pedalear</li>
                        <li>Puede llevar sus propios alimentos y bebidas sin alcohol.</li>
                        <li>Puede llevar efectivo en caso de que algunos establecimientos donde desee adquirir algo no cuente con POS.</li>
                        <li>Puede llevar su propia música y listas de reproducción para que el conductor y/o guía designado la controle. Pero no es exclusivamente necesario ya que el vagón llevara su propia lista de reproducción.</li>
                        <li>Se permite llevar decoraciones sólo para reservas privadas y estas no deben ser ofensivas. También proporcionamos la decoración del vagón en caso desees celebrar una fecha especial.</li>
                    </ul>
                    <p>
                        * Está totalmente prohibido portar armas u objetos punzo cortantes.
                    </p>
                </div>
                <div class="answer lang-en">
                    <P>
                        Please note that there is no storage space in our carriages.
                    </P>
                    <ul>
                        <li>Each tourist must always carry their identification.</li>
                        <li>Bring your signed waiver statement</li>
                        <li>Comfortable clothes and shoes for pedaling</li>
                        <li>You can bring your own food and non-alcoholic drinks.</li>
                        <li>You can carry cash in case some establishments where you want to buy something do not have a POS.</li>
                        <li>You can bring your own music and playlists for the designated driver and / or guide to control. But it is not exclusively necessary since the wagon will carry its own playlist.</li>
                        <li>Decorations are allowed only for private reservations and they must not be offensive. We also provide the decoration of the wagon in case you want to celebrate a special date.</li>
                    </ul>
                    <p>
                        * It is totally forbidden to carry weapons or sharp objects.
                    </p>
                </div>
            </div>

            <div class="accordion-item">
                <a class="accordion-link lang-es" >¿QUIÉN CONDUCE EL VAGÓN?</a>
                <a class="accordion-link lang-en" >WHO DRIVES THE WAGON?</a>
                <div class="answer lang-es">
                    <P>
                        ¡Siempre proporcionaremos el conductor capacitado que operará y navegará el vagón a pedal y lo guiará a una gran experiencia!
                    </P>
                </div>
                <div class="answer lang-en">
                    <P>
                        We will always provide the trained driver who will operate and navigate the pedal car and guide you to a great experience!
                    </P>
                </div>
            </div>
            <!-- <div class="accordion-item">
                <a class="accordion-link lang-es" >¿DONDE PUEDO CONSULTAR LAS PROMOCIONES?</a>
                <a class="accordion-link lang-en" >WHERE CAN I SEE THE PROMOTIONS?</a>
                <div class="answer lang-es">
                    <P>
                        Anunciamos nuestras promociones en cada una de nuestras páginas de redes sociales. ¡Así que asegúrate de seguirnos en Facebook, Instagram, tik tok y youtube!
                    </P>
                </div>
                <div class="answer lang-en">
                    <P>
                        We advertise our promotions on each of our social media pages. So be sure to follow us on Facebook, Instagram, tik tok, and youtube!
                    </P>
                </div>
            </div> -->
        </div>
    </div>
</section>

<section>
    <div class="content">
        <div class="contentBx">
            <h3>Normas del vagón a pedales</h3>
            </br>
        </div>

        <div class="card-container">
            <div class="card" ng-repeat="norma in normas">
                <div class="imgBx" data-text={{norma.number}}>
                    <img src="../src/images/normas/icono1.png">
                </div>
                <div class="card-content">
                    <h3>{{norma.title}}</h3>
                    <p>{{norma.Text}}</p>
                </div>
            </div>
        </div>

    </div>
</section>