<link rel="stylesheet" href="app/css/ayuda.css">

<section class="ayuda">
    <div class="heading">
        <h2>Ayuda</h2>
    </div>

</section>
<section>
    <div class="content">
        <div class="contentBx">
            <h3>Preguntas Frecuentes</h3>
            </br>
        </div>
    </div>
    <div class="faq-container">
        <!-- <p>¿Cómo protege Google mi privacidad y mantiene mi información segura?</p>
        <span>Sabemos que para usted la seguridad y la privacidad son importantes —para nosotros también lo son—. La seguridad de su información y la garantía de que podrá acceder a ella cuando lo necesite son nuestras prioridades.</span> -->
        <div class="accordion">
            <div class="accordion-item" id="question1">
                <a class="accordion-link" href="#question1">¿Cómo protege Google mi privacidad y mantiene mi información
                    segura?
                    <i class="far fa-caret-square-down"></i>
                    <i class="far fa-caret-square-up"></i>
                </a>
                <div class="answer">
                    <P>
                        Sabemos que para usted la seguridad y la privacidad son importantes —para nosotros
                        también lo son—. La seguridad de su información y la garantía de que podrá acceder a ella cuando
                        lo necesite son nuestras prioridades.
                    </P>
                </div>
            </div>

            <div class="accordion-item" id="question2">
                <a class="accordion-link" href="#question2">¿Cómo protege Google mi privacidad y mantiene mi información
                    segura?
                    <i class="far fa-caret-square-down"></i>
                    <i class="far fa-caret-square-up"></i>
                </a>
                <div class="answer">
                    <p>
                        Sabemos que para usted la seguridad y la privacidad son importantes —para nosotros
                        también lo son—. La seguridad de su información y la garantía de que podrá acceder a ella cuando
                        lo necesite son nuestras prioridades.
                    </p>
                </div>
            </div>
        </div>
    </div>
</section>

<section>
    <div class="content">
        <div class="contentBx">
            <h3>Normas del vagón a pedales</h3>
            </br>
        </div>
        
        <div class="card-container">
            <div class="card" ng-repeat="norma in normas">
                <div class="imgBx" data-text={{norma.number}}>
                    <img src="../src/images/normas/icono1.png">
                </div>
                <div class="card-content">
                    <h3>{{norma.title}}</h3>
                    <p>{{norma.Text}}</p>
                </div>
            </div>
        </div>

    </div>
</section>