<div class="text-center pt-3">
    <h1 class="lang-es">CONOCE CAJAMARCA</h1>
    <h1 class="lang-en">MEET CAJAMARCA</h1>
</div>

<section>
    <div class="row mb-5">
        <p class="lang-es text-justify">Ven a Cajamarca y conoce sus más seductores paisajes, la rica cultura con la que
            cuenta y
            disfruta de aquellos deliciosos platillos tradicionales en los mejores lugares de nuestra bella ciudad, no
            olvides que hay diversión para todos así que no podrás dejar de visitarnos.</p>
        <p class="lang-en text-justify">Come to Cajamarca and know its most seductive landscapes, the rich culture that
            it has and
            enjoy those delicious traditional dishes in the best places in our beautiful city, do not forget that there
            is fun for everyone so you can not stop visiting us.</p>
        <img src="src/images/ConoceCajamarca-(1).jpg" alt="Cajamarca" class="img">
    </div>

    <h2 class="lang-es">Clima Cajamarquino</h2>
    <h2 class="lang-en">Weather of Cajamarca</h2>
    <div class="row mb-5">

        <div class="col-lg-7 col-md-12">
            <p class="lang-es text-justify">Has escuchado alguna vez la frase: “No creas nunca en cielo cajamarquino,
                cojera de perro
                ni lágrimas de mujer” </p>
            <p class="lang-es text-justify">Pues nuestro clima Cajamarquino es templado, pero moderadamente lluvioso;
                ojo que también
                tenemos nuestro solcito. De todas maneras te recomendamos que como nuestros ancestros des una miradita
                al cielo y veas como están las nubes; pues a pesar de estar bien soleado podría sorprenderte la lluvia.
            </p>
            <p class="lang-es text-justify">En base a la puntuación de turismo, las mejores épocas del año para visitar
                Cajamarca
                para actividades de tiempo caluroso son desde finales de Abril hasta finales de Junio y desde mediados
                de Julio hasta finales de Octubre</p>
            <p class="lang-en text-justify">Have you ever heard the phrase: "Never believe in Cajamarca heaven, the limp
                of a dog or
                the tears of a woman"</p>
            <p class="lang-en text-justify">Well, our Cajamarquino climate is temperate, but moderately rainy; beware
                that we also
                have our little sun. In any case, we recommend that, like our ancestors, you take a look at the sky and
                see how the clouds are; Well, despite being very sunny, the rain could surprise you.</p>
            <p class="lang-en text-justify">Based on the tourism score, the best times of the year to visit Cajamarca
                for hot weather
                activities are from the end of April to the end of June and from the middle of July to the end of
                October.</p>
        </div>
        <div class="col-lg-5 col-md-12">
            <img src="src/images/ConoceCajamarca-(3).jpg" alt="Cajamarca" class="img">
        </div>
    </div>

    <h2 class="lang-es">Gastronomía</h2>
    <h2 class="lang-en">Gastronomy</h2>
    <div class="row mb-5">

        <div class="col-lg-3 col-md-12">
            <img src="src/images/ConoceCajamarca-(0).jpg" alt="Gastronomía" class="img">
        </div>
        <div class="col-lg-9 col-md-12">
            <p class="lang-es text-justify">En cuanto llegues a Cajamarca tienes que probar sus diferentes platillos
                tradicionales,
                como el cuy con picante de papa; y sobre todo sería un delito irte sin comer el delicioso frito con
                ceviche una fusión que te dejará encantado. </p>
            <p class="lang-es text-justify">De todas maneras, encontrarás la mejor calidad de productos lácteos, sus
                deliciosas
                rosquillas y si tienes mucho frío no te preocupes que con un buen caldito verde se te pasa. Hay mucho
                más por mencionar, pero te dejaremos con la curiosidad para que el día de tu llegada curiosees más sobre
                sus deliciosos platillos tradicionales.</p>
            <p class="lang-es"><strong>Platos Destacados</strong></p>
            <ul class="lang-es pl-4">
                <li>Picante de papa con cuy frito.</li>
                <li>Chicharrón con mote</li>
                <li>Caldo verde</li>
                <li>Cecina Shilpida</li>
                <li>Chicha de Jora</li>
            </ul>
            <p class="lang-en text-justify">As soon as you arrive in Cajamarca, you have to try its different
                traditional dishes,
                such as guinea pig with spicy potato; and above all it would be a crime to leave without eating the
                delicious fried with ceviche, a fusion that will leave you enchanted.</p>
            <p class="lang-en text-justify">In any case, you will find the best quality of dairy products, their
                delicious donuts and
                if you are very cold do not worry that with a good green broth you will miss it. There is much more to
                mention, but we will leave you curious so that on the day of your arrival you can browse more about its
                delicious traditional dishes.</p>
            <p class="lang-en"><strong>Featured Dishes</strong></p>
            <ul class="lang-en pl-4">
                <li>Picante de papa con cuy frito.</li>
                <li>Chicharrón con mote</li>
                <li>Caldo verde</li>
                <li>Cecina Shilpida</li>
                <li>Chicha de Jora</li>
            </ul>

        </div>
    </div>

    <h2 class="lang-es">Arte y Cultura</h2>
        <h2 class="lang-en">Art and Culture</h2>
    <div class="row mb-5">
        <div class="col-lg-6 col-md-12">
            <p class="lang-es text-justify">Cajamarca fue una importante zona donde habitaba el imperio Inca y lugar en el que se dio
                el encuentro entre San Francisco y Atahualpa. Cada año, la municipalidad ha venido realizando un evento
                para recordar este encuentro y por eso lo titularon: “El encuentro de los mundos”.</p>
            <p class="lang-es text-justify">Por un tiempo en Cajamarca dominaban los estilos chavinoides, pero logramos definir más
                adelante un estilo propio. Claro, encontrarás influencia española en nuestra arquitectura en cuanto
                visites algunos centros turísticos dentro de la ciudad, pero ahí no se acaba, fuera de la ciudad en
                lugares no muy alejados podrás presenciar toda nuestra historia y te sentirás parte de ella, cada lugar
                cautivará tus sentidos.</p>
            <p class="lang-es text-justify">No olvides terminar tu día con un buen descanso en los baños termales de nuestro distrito
                Baños del Inca.</p>
            <p class="lang-en text-justify">Cajamarca was an important area where the Inca empire lived and the place where the
                meeting between San Francisco and Atahualpa took place. Every year, the municipality has been holding an
                event to commemorate this meeting and that is why they titled it: “The meeting of the worlds”.</p>
            <p class="lang-en text-justify">For a time in Cajamarca the Chavinoid styles dominated, but later we were able to define
                our own style. Of course, you will find Spanish influence in our architecture as soon as you visit some
                tourist centers within the city, but it does not end there, outside the city in places not far away you
                will be able to witness all our history and you will feel part of it, each place will captivate your
                senses.</p>
            <p class="lang-en text-justify">Don't forget to end your day with a good rest in the thermal baths of our Baños del Inca
                district.</p>
        </div>
        <div class="col-lg-6 col-md-12">
            <img src="src/images/ConoceCajamarca-(2).jpg" alt="Gastronomía" class="img">
        </div>
    </div>

    <h2 class="lang-es">Cajamarca, Capital del Carnaval</h2>
        <h2 class="lang-en">Cajamarca, Capital of Carnival</h2>
    <div class="row mb-5">
        <div class="col-lg-6 col-md-12">
            <img src="src/images/ConoceCajamarca-(4).jpg" alt="Gastronomía" class="img">
        </div>
        <div class="col-lg-6 col-md-12">
            <p class="lang-es text-justify">No podríamos terminar sin mencionar que estamos orgullosos de ser la capital del
                carnaval, este se celebra en los meses de febrero y marzo, teniendo las fechas centrales en el mes de
                febrero; mes en el que podrás llenarte de color y de vida a través de nuestras tradiciones con bailes,
                coplas y macerados a base de frutas y hierbas de nuestra ciudad. No hay frío ni lluvia que nos pare, así
                que agarra tu plástico y tu calientito nomás y que siga la celebración.</p>
            <p class="lang-es text-center">¡TE ESPERAMOS PARA CERRAR NUESTRO CONCURSO DE PATRULLAS Y COMPARSAS CON
                BROCHE DE ORO, TUMBANDO UNA UNSHITA!</p>
            <div class="lang-es text-center">
                <span>Lima ciudad de los reyes,</span><br>
                <span>Trujillo primaveral</span><br>
                <span>y mi bella Cajamarca</span><br>
                <span>capital del carnaval.</span>
            </div>
            <p class="lang-en text-justify">We could not finish without mentioning that we are proud to be the capital of carnival,
                this is celebrated in the months of February and March, with the central dates in February; month in
                which you can fill yourself with color and life through our traditions with dances, couplets and
                macerates based on fruits and herbs from our city. There is no cold or rain to stop us, so grab your
                plastic and your warm just and let the celebration continue.</p>
            <p class="lang-en text-center">WE ARE WAITING FOR YOU TO CLOSE OUR PATROL AND COMPARSE CONTEST WITH A GOLDEN
                BROOCH, LAYING ON AN UNSHITA!</p>
            <div class="lang-en text-center">
                <span>Lima ciudad de los reyes,</span><br>
                <span>Trujillo primaveral</span><br>
                <span>y mi bella Cajamarca</span><br>
                <span>capital del carnaval.</span>
            </div>
        </div>
    </div>
</section>