<div class="text-center pt-3">
    <h1 class="lang-es">CONOCE CAJAMARCA</h1>
    <h1 class="lang-en">MEET CAJAMARCA</h1>
</div>

<section>
    <div class="row">
        <p class="lang-es">Ven a Cajamarca y conoce sus más seductores paisajes, la rica cultura con la que cuenta y disfruta de aquellos deliciosos platillos tradicionales en los mejores lugares de nuestra bella ciudad, no olvides que hay diversión para todos así que no podrás dejar de visitarnos.</p>
        <p class="lang-en">Come to Cajamarca and know its most seductive landscapes, the rich culture that it has and enjoy those delicious traditional dishes in the best places in our beautiful city, do not forget that there is fun for everyone so you can not stop visiting us.</p>
    </div>
</section>