<link rel="stylesheet" href="app/css/gallery.css">

<div class="heading">
    <h2 class="lang-es">GALERIA</h2>
    <h2 class="lang-en">GALLERY</h2>
</div>

<section>
    <p class="lang-es">Pedalear es nuestra pasión</p>
    <p class="lang-en">Pedaling is our passion</p>
    <div class="main">
        <div class="gallery">
            <div class="img" ng-repeat="img in imgs">
                <img src={{img.src}} ng-click="ShowDetails(img.src_alta)" data-alta="{{img.src_alta}}">
            </div>
            <!-- <div class="img">
                <img src="src/images/thumbs/pedal-tour-11-2020-0497.jpg">
            </div>
            <div class="img">
                <img src="src/images/thumbs/pedal-tour-11-2020-0031.jpg">
            </div>
            <div class="img">
                <img src="src/images/thumbs/pedal-tour-11-2020-0033.jpg">
            </div>
            <div class="img">
                <img src="src/images/thumbs/pedal-tour-11-2020-0120.jpg">
            </div>
            <div class="img">
                <img src="src/images/thumbs/pedal-tour-11-2020-0272.jpg">
            </div>
            <div class="img">
                <img src="src/images/thumbs/pedal-tour-11-2020-0446.jpg">
            </div>
            <div class="img">
                <img src="src/images/thumbs/pedal-tour-11-2020-0087.jpg">
            </div>
            <div class="img">
                <img src="src/images/thumbs/pedal-tour-11-2020-0085.jpg">
            </div>
            <div class="img">
                <img src="src/images/thumbs/pedal-tour-11-2020-0099.jpg">
            </div>
            <div class="img">
                <img src="src/images/thumbs/pedal-tour-11-2020-0540.jpg">
            </div>
            <div class="img">
                <img src="src/images/thumbs/pedal-tour-11-2020-0885.jpg">
            </div>
            <div class="img">
                <img src="src/images/thumbs/pedal-tour-11-2020-0888.jpg">
            </div> -->
        </div>
    </div>
    <div class="box">
        <div class="imgBx">
            <img id="img_detail" ng-click="HideDetails()">
        </div>
    </div>
</section>