<link rel="stylesheet" href="app/css/gallery.css">

<div class="text-center pt-3">
    <h1 class="lang-es">Galería</h1>
    <h1 class="lang-en">Gallery</h1>
</div>

<section>
    <div class="row">
        <h2 class="lang-es">Recorrido del Vagón</h2>
        <h2 class="lang-en">Wagon Route</h2>
        <div class="row mb-5">
            <video class="video" src="/src/videos/recorrido.webm" controls></video>
        </div>
    </div>
</section>

<section>
    <div class="row">
        <h2 class="lang-es">Nuestras mejores imágenes</h2>
        <h2 class="lang-en">Our best images</h2>
        <p class="lang-es">Pedalear es nuestra pasión</p>
        <p class="lang-en">Pedaling is our passion</p>
        <div class="row mb-5">
            <div class="main">
                <div class="gallery">
                    <div class="img" ng-repeat="img in imgs">
                        <img src={{img.src}} ng-click="ShowDetails(img.src_alta)" data-alta="{{img.src_alta}}">
                    </div>
                </div>
                <div class="box">
                    <div class="imgBx">
                        <img id="img_detail" ng-click="HideDetails()">
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>











<!-- <section>
    <p class="lang-es">Pedalear es nuestra pasión</p>
    <p class="lang-en">Pedaling is our passion</p>
    <div class="main">
        <div class="gallery">
            <div class="img" ng-repeat="img in imgs">
                <img src={{img.src}} ng-click="ShowDetails(img.src_alta)" data-alta="{{img.src_alta}}">
            </div>
        </div>
    </div>
    <div class="box">
        <div class="imgBx">
            <img id="img_detail" ng-click="HideDetails()">
        </div>
    </div>
</section> -->