<link rel="stylesheet" href="app/css/inicio.css">

<section class="banner">
    <div class="textBx">
        <h2 class="lang-es">BIENVENIDOS</h2>
        <h2 class="lang-en">WELCOME</h2>
        <h2><span>PEDAL TOUR</span></h2>
        <h2><span>CAJAMARCA</span></h2>
        <br>
        <div class="lang-es">
            <h3>
                <span>Aventura</span>
                <i class="fas fa-circle"></i>
                <span>Turismo</span>
                <i class="fas fa-circle"></i> 
                <span>Experiencia</span>
            </h3>
        </div>
        <div class="lang-en">
            <h3>
                <span>Adventure</span>
                <i class="fas fa-circle"></i>
                <span>Turism</span>
                <i class="fas fa-circle"></i> 
                <span>Experience</span>
            </h3>
        </div>
        <br>
        <br>
    </div>
</section>