<link rel="stylesheet" href="app/css/nosotros.css">

<div class="text-center pt-3">
    <h1 class="lang-es">Quienes Somos</h1>
    <h1 class="lang-en">Who we are</h1>
</div>

<section>
    <div class="row">
        <h2>Pedal Tour Cajamarca</h2>
        <div class="col-lg-6 col-md-12">
            <p class="lang-es">Somos un operador turístico impulsado por el financiamiento del Programa Turismo Emprende
                del
                Ministerio de Comercio Exterior y Turismo y al cofinanciamiento de las beneficiarias.</p>
            <p class="lang-es">Pedal Tour ofrecerá un servicio de tours personalizado, disruptivo e innovador, ofertando
                nuevas rutas
                turísticas en Cajamarca como: la ruta de naturaleza, paseos por la ciudad y las rutas de experiencia;
                todas
                estas rutas se recorrerán a bordo de un vagón a pedales totalmente ecológico que funciona con energía
                renovable a través del uso del panel solar; el vagón cuenta con capacidad para 14 personas, de las
                cuales 12
                van pedaleando y 2 personas van sentadas ya que estos asientos están reservados para personas con
                discapacidad, adultos mayores o niños; en cada tour realizado contarán con un guía y un conductor.</p>
            <p class="lang-en">We are a tour operator promoted by the financing of the Tourism Emprende Program of the
                Ministry of Foreign Trade and Tourism and the co-financing of the beneficiaries.</p>
            <p class="lang-en">Pedal Tour will offer a personalized, disruptive and innovative tour service, offering
                new tourist routes in Cajamarca such as: the nature route, city tours and experience routes; All these
                routes will be traveled on board a totally ecological pedal car that works with renewable energy through
                the use of the solar panel; The wagon has capacity for 14 people, of which 12 are pedaling and 2 people
                are seated since these seats are reserved for people with disabilities, the elderly or children; In each
                tour you will have a guide and a driver.</p>
        </div>
        <div class="col-lg-6 col-md-12">
            <div class="row pb-5">
                <img src="src/images/12-11-2020-1835.jpg" alt="Nosotros" class="img">
            </div>
        </div>
    </div>
</section>

<section style="background: #111;">
    <div class="row">
        <h2 class="lang-es">Uso del Vagón</h2>
        <h2 class="lang-en">Use of the Wagon</h2>
        <div class="row mb-5">
            <video class="video" src="/src/videos/IndicacionesPedalTour_Sub_ingles.mp4" controls></video>
        </div>
    </div>
</section>