<link rel="stylesheet" href="app/css/nosotros.css">
<section class="about">
    <div class="heading">
        <h2>Quienes Somos</h2>
    </div>
    <div class="content">
        <div class="contentBx w75">
            <h3>Pedal TOUR Cajamarca</h3>
            <p>Somos un operador turístico impulsado por el financiamiento del Programa Turismo Emprende del
                Ministerio de Comercio Exterior y Turismo y al cofinanciamiento de las beneficiarias.</p>
            <p>Pedal Tour ofrecerá un servicio de tours personalizado, disruptivo e innovador, ofertando nuevas rutas
                turísticas en Cajamarca como: la ruta de naturaleza, paseos por la ciudad y las rutas de experiencia; todas
                estas rutas se recorrerán a bordo de un vagón a pedales totalmente ecológico que funciona con energía
                renovable a través del uso del panel solar; el vagón cuenta con capacidad para 14 personas, de las cuales 12
                van pedaleando y 2 personas van sentadas ya que estos asientos están reservados para personas con
                discapacidad, adultos mayores o niños; en cada tour realizado contarán con un guía y un conductor.</p>
        </div>
        <div class="contentBx w25">
            <img src="src/images/pedal-tour-11-2020-0120.jpg" alt="Nosotros" class="img">
        </div>
    </div>
</section>

<section class="about">
    <div class="heading">
        <h2>Uso del Vagón</h2>
    </div>
    <div class="content">
        <div class="contentBx w75">
            <div class="container">
                <div class="clip clip1"></div>
                <div class="clip clip2"></div>
                <div class="clip clip3"></div>
            </div>
        </div>
        
        <div class="contentBx w25">
            <h3>Lorem Ipsum </h3>
            <p>Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled it to make a type specimen book. It has survived not only five centuries, but also the leap into electronic typesetting, remaining essentially unchanged. It was popularised in the 1960s with the release of Letraset sheets containing Lorem Ipsum passages, and more recently with desktop publishing software like Aldus PageMaker including versions of Lorem Ipsum.</p>
        </div>
    </div>
</section>

<section class="about">
    <div class="heading">
        <h2>Responsabilidad Social</h2>
    </div>
    <div class="content">
    </div>
</section>