<link rel="stylesheet" href="app/css/reservas.css">

<section class="reserva">
    <div class="container">
        <div class="contactform">
            <div>
                <h2 class="lang-es">RESERVAS</h2>
                <h2 class="lang-en">RESERVATIONS</h2>
                <div class="formbox">
                    <div class="inputbox w100">
                        <input type="text" name="" ng-model="model.name" required>
                        <span class="lang-es">Apellidos y Nombres</span>
                        <span class="lang-en">Complete Name</span>
                    </div>
                    <div class="inputbox w100">
                        <input type="text" name="" class="date" ng-model="model.date" required>
                        <span class="lang-es">Fecha</span>
                        <span class="lang-en">Date</span>
                    </div>
                    <div class="inputbox w100">
                        <input type="text" name="" class="time" ng-model="model.time" required>
                        <span class="lang-es">Hora</span>
                        <span class="lang-en">Time</span>
                    </div>
                    <div class="inputbox w100">
                        <input type="text" name="" ng-model="model.mail" required>
                        <span class="lang-es">Correo electrónico</span>
                        <span class="lang-en">E-mail</span>
                    </div>
                    <div class="inputbox w100">
                        <input type="text" name="" ng-model="model.phone" required>
                        <span class="lang-es">Celular</span>
                        <span class="lang-en">Cellphone</span>
                    </div>
                    <div class="inputbox w100">
                        <input class="lang-es" type="submit" ng-click="SendMail()" value="Reservar">
                        <input class="lang-en" type="submit" ng-click="SendMail()" value="Reserve">
                    </div>
                </div>
            </div>
        </div>
        <div class="contactinfo">
            <div class="lang-es">
                <iframe
                    src="https://calendar.google.com/calendar/embed?height=600&amp;wkst=2&amp;bgcolor=%23ffffff&amp;ctz=America%2FLima&amp;src=cGVkYWx0b3VyY2FqYW1hcmNhQGdtYWlsLmNvbQ&amp;src=ZXMucGUjaG9saWRheUBncm91cC52LmNhbGVuZGFyLmdvb2dsZS5jb20&amp;color=%23039BE5&amp;color=%230B8043&amp;title=Calendario%20Pedal%20TOUR&amp;showNav=0&amp;showDate=1&amp;showPrint=0&amp;showTabs=0&amp;showCalendars=0&amp;showTz=1"
                    style="border-width:0" width="100%" height="500" frameborder="0" scrolling="no"></iframe>
            </div>
            <div class="lang-en">
                <iframe
                    src="https://calendar.google.com/calendar/embed?height=600&amp;wkst=2&amp;bgcolor=%23ffffff&amp;ctz=America%2FLima&amp;src=cGVkYWx0b3VyY2FqYW1hcmNhQGdtYWlsLmNvbQ&amp;src=ZXMucGUjaG9saWRheUBncm91cC52LmNhbGVuZGFyLmdvb2dsZS5jb20&amp;color=%23039BE5&amp;color=%230B8043&amp;title=Pedal%20TOUR%20Calendar&amp;showNav=0&amp;showDate=1&amp;showPrint=0&amp;showTabs=0&amp;showCalendars=0&amp;showTz=1;hl=en&amp;"
                    style="border-width:0" width="100%" height="500" frameborder="0" scrolling="no"></iframe>
            </div>
        </div>
    </div>
</section>